* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
  font-family: 'Markazi Text';
}

h2 {
  font-family: Markazi Text;
  font-size: 40px;
}

h3 {
  font-family: Karla;
  font-size: 32px;
  font-weight: 800;
}

h4 {
  font-family: Karla;
  font-size: 28px;
  font-weight: 800;
}

h5 {
  font-family: Karla;
  font-size: 20px;
  font-weight: 800;
}

h6 {
  font-family: Karla;
  font-size: 16px;
  font-weight: 800;
}

p {
  font-family: Karla;
  font-size: 16px;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: none;
  padding: none;
}

button {
  background: #f4ce14;
  color: #495e57;
  border-radius: 16px;
  border: none;
  height: 60px;
  width: 200px;

  font-size: 18px;
  font-weight: 500;
  font-family: Karla;
  margin: 1rem 0;
}